{% extends "base_generic.html" %}

{% block content %}
  <section class="contain-home">
    <div class="title-bienvenue">
      <h1>
        Alain et Nadine Sanchez
        <br>
        <span>Bienvenue sur notre site</span>
      </h1>      
    </div>
    <p>
      Nous sommes deux peintres autodidactes avec un début de parcours différent et aujourd'hui
      nous avons le plaisir de vous offrir la possibilité de découvrir notre travail. Nous vous souhaitons un bon passage sur notre site.
    </p>
    <div class="decouvrir-tableau">
      <div class="box-decouvrir">
        <h4 class="title-transparent">Découvrer nos {{ num_tableau }} tableaux</h4>
        <div class="box-tabl">
          {% for tableau in tableau %}
            <div>
              <img src="{{ tableau.photo.url }}" alt="">
              <h4>{{ tableau.nom_tableau }}</h4>
            </div>
          {% endfor %}
        </div>
        <div class="box-button">
          <a href="{% url 'tableau' %}">
            <button>Découvrir plus</button>
          </a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
