@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #003273;
}

body{
    position: relative;
    background-image: url('/static/images/banniere_inverse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

body::-webkit-scrollbar{
	width: 10px;
	height: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb{
	background-color: #003273 ;
	border-radius:5px ;
	border: 1px solid transparent;
}

body::-webkit-scrollbar-track{
	background: transparent;
}


/* menu de navigation */


header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #003273;
    position: relative;
    z-index: 99;
    /*
    background-image: url('/static/images/banniere_inverse.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    */
    
}

.reflect h1{
    -webkit-box-reflect: 
    below 0 -webkit-gradient(linear,0 0,0 100%,from(transparent),
    color-stop(.6,transparent),
    to(rgba(255, 255, 255, 1)));
}

nav{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

nav a{
    list-style: none;
    width: 150px;
    height: 20px;
    text-align: center;
    border: 1px solid #003273;
    border-radius: 20px;
    padding: 5px;
    transition: all .4s;
}

nav a:hover{
    background-color: #003273;
    color: white !important;
    transition: all .4s;
}


nav a{
    text-decoration: none;
}

nav ul{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barre-a {
	display: inline-block;
	position: relative;
	color: #003273;
}

.barre-a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #F8BCFB;
	transform-origin: bottom right;
	transition: transform 0.4s ease-out;
}

.barre-a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}






/* page index.html */
.title-site{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-transform: uppercase;

}

.title-site:after{
    content: "";
    display: block;
    width: 75%;
    height: 1px;
    background-color: #003273;
    position: absolute;
    bottom: 0;
}

.box-admin{
    width: 180px;
    height: 35px;
    border: 1px solid #003273;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
}

.box-admin:hover{
    cursor: pointer;
}

.username{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.lien-gestion{
    display: none;
    position: absolute;
    width: 100%;
    height: 0px;
    border: 1px solid #F8BCFB;
    border-radius: 5px;
    bottom: -175%;
    background-color: white;
    transition: all 3s;

}

.box-admin:hover
.lien-gestion{
    display: block;
    height: 60px;
}
.lien-gestion li{
    list-style: none;
    margin-bottom: 10px;
}

.lien-gestion a{
    text-decoration: none;
    color: black;
    transition: all .2s;
}

.lien-gestion a:hover{
    color: #003273;
}

.contain-home{
    width: 100%;
    height: 80vh;
    position: relative;
}

.before-bienvenue{
    width:100%;
    background-color: white;
    height: 10%;
    position: relative;
}
.before-bienvenue:after{
    content: "";
    width: 100%;
    height: 10vh;
    display: block;
    background-image: url('https://www.chambaud-abstrait.com/wp-content/themes/zass/image/ripoff_flip.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -50%;
    transform: translateY(50%);
}

.title-bienvenue{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    text-transform: uppercase;
}
.title-bienvenue h1 span{
    font-size: .5em;
    text-align: center;
}

.after-bienvenue{
    width:100%;
    background-color: white;
    height: 10%;
    position: relative;
}

.after-bienvenue:before{
    content: "";
    width: 100%;
    height: 10vh;
    display: block;
    background-image: url('https://www.chambaud-abstrait.com/wp-content/themes/zass/image/ripoff_flip.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -50%;
    transform: translateY(-50%) rotate(180deg);
}

.next-box{
    width: 100%;
    margin: 250px 0px;
}

.next-box p{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 30px;
    font-size: 1.5em;
    font-style: oblique;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.decouvrir-tableau{
    width: 100%;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px ;
}

.box-decouvrir{
    width: 650px;
    height: 400px;
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
}

.box-button{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-button button{
    background-color: transparent;
    opacity: 1;
    z-index: 10;
    border: 2px solid #003273;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2em;
    transition: all .7s;
}

.box-button button:hover{
    cursor: pointer;
    background-color: #003273;
    color: white;
}


.title-transparent{
    text-transform: uppercase;
    opacity: .8;
    font-size: 2em;
    position: absolute;
    width: 100%;
    display: flex;
    top: 2%;
    justify-content: center;
    align-items: center;
}

.box-tabl{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box-tabl div{
    position: relative;
    width: 150px;
    height: 80%;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: .3;
    text-align: center;
}

.box-tabl div h4{
    position: absolute;
    bottom: 0;
    left:50%;
    width: 100%;
    transform:translateX(-50%) ;
    text-transform: capitalize;
}

.box-tabl div img{
    width: 100%;
    height: 80%;
    -webkit-box-reflect:below 0 -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(.6,transparent),to(rgba(255, 255, 255, 0.3)));
    
}




/* style page liste tableau */


.contain-tableau{
    width: 100%;
    min-height:100vh;
    
}



.headen{
    width: 80%;
    height: 50px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.headen a{
    text-decoration: none;
    border: 1px solid #003273;
    border-radius: 20px;
    padding: 6px;
    font-size: .8em;
    transition: all .4s;
    background-color: transparent;
}

.headen a:hover{
    border-color: #003273 !important;
    background-color: #003273;
    color: white;
    transition: all .4s;
}


.active{
    border-color: #003273 !important;
    background-color: #003273!important;
    color: white;
}

.active a{
    color: white !important;
}


.headen:after{
    content: "";
    display: block;
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #003273;
    position: absolute;
    bottom: -15%;
    left: 50%;
    transform: translateX(-50%);
}

.corps{
    width: 90%;
    margin: 70px auto;
    display: flex;
    display: grid;
	grid-template-columns: repeat(auto-fill,minmax(320px,2fr));
	grid-gap: 30px;

}

.tableau{
    margin-left: 30px;
    width: 300px;
    height: 400px;
    border: 1px solid transparent;
    background-color: #0032;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transition: all .7s;

}

.tableau:hover .text-tableau button{
    background-color: #003273;
    color: white;
    transition: all .4s;
    cursor: pointer;
}



.text-tableau{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
}
.text-tableau p{
    margin-top: 20px;
}

.text-tableau button{
    border: 1px solid #003273;
    background: transparent;
    padding: 6px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all .4s;
}

.image-tableau{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-tableau img{
    width: 90%;
    height: 90%;
}



/* page style tableau détail */


.contain-detail{
    width: 100%;
    padding-bottom: 5vh;
}

.corps-detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}

.detail-image{
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image img{
    width: 350px;
}

.detail-texte{
    width: 50%;
    height: 100%;
    padding-right:20px ;
}

.detail-texte h1{
    margin: 30px 0px;
    font-size: 2.4em;
    text-transform: uppercase;
}

.detail-texte p{
    font-size: 1.1em;
    margin-bottom: 20px;
}

.detail-texte a{
    text-decoration: none;
    font-weight: bold;
}

.contain-commentaire{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.contain-commentaire h3{
    text-align: center;
    font-size: 1.3em;
}


.commentaire{
    width: 50%;
    margin: 40px auto;
}

.commentaire:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: #003273;
}

.commentaire h5{
    text-transform: capitalize;
    font-size: 1.2em;
    padding-left: 30px;
    position: relative;
}

.commentaire-rond{
    width: 20px;
    height: 20px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 999px;
    display: block;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentaire p{
    text-transform: unset;
}


.date{
    font-size: 0.75em;
    opacity: .7;
    margin-bottom: 15px;
}

.contain-detail form{
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contain-detail form label{
    width: 100% ;
}

.contain-detail form input{
    width: 40%;
    height: 22px;
    border: 1px solid #003273;
    border-radius: 5px;
    padding: 2px;
}

.contain-detail form textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 220px;
    border: 1px solid #003273;
    border-radius: 5px;
    overflow: auto;
    padding: 5px;
}

.contain-detail form button{
    width: 100px;
    height: 40px;
    background-color: transparent;
    color: #003273;
    border: 2px solid #003273;
    font-size: 1.05em;
    margin: 30px auto;
    border-radius: 10px;
    transition: all .5s;

}

.contain-detail form  button:hover{
    background-color: #003273;
    color: white;
    cursor: pointer;
}

.retour{
    text-decoration: none;
    left: 2%;
    margin: 20px 0px;
}

.center{
    text-align: center;
    margin: 30px;
}

/* page connexion */

.connexion{
    padding-top: 20vh;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-connexion{
    border: 1px solid #C583C8;
    border-radius: 10px;
    width: 120px;
    height: 30px;
    background-color: transparent;
    transition: all .7s;
}


.btn-connexion:hover{
    background-color: #C583C8;
    color: white;
    cursor: pointer;
}


/* style page login */


.contain-login{
    width: 100%;
    height: 80vh;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-login form{
    border: 1px solid #003273;
    border-radius: 10px;
    padding: 15px;
}



.admin-liste{
    padding-top: 20vh;
    width: 80%;
    margin: auto;
}

.ajouter{
    margin: 50px 0px;
    text-align: center;
}

.ajouter a{
    border: 1px solid #003273;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    transition: all .7s;
}

.ajouter a:hover{
    background-color: #003273;
    color: white;
    cursor: pointer;
}

.tableau-admin{
    width: 100%;
    height: 60px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.tableau-admin{
    position: relative;
}

.tableau-admin:before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #003273;
    position: absolute;
    top: -30%;
}

.tableau-admin:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #003273;
    position: absolute;
    bottom: -5%;
}

.form-affich{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.form-affich button{
    background-color: transparent;
    border: transparent;
}

.form-affich button:hover
.fa-solid{
    color: #003273;
    cursor: pointer;
}

.sans:before{
    display: none;
}


/* style page modification tableau */

.contain-update{
    width: 100%;
    text-align: center;
    position: relative;
}
.contain-update form{
    width: 70%;
    margin: 50px auto;
    text-align: left;
    position: relative;

 }

.contain-update a{
    float: left;
    margin:15px;
    margin-right: 0px;
}

.contain-update form p{
    margin-bottom: 15px;
}

.contain-update form p input{
    border: 1px solid #003273;
    border-radius: 10px;
    padding: 5px;
}

#id_photo{
    border: none;
}

.contain-update form button{
    background-color: transparent;
    border: 2px solid #003273;
    border-radius: 5px;
    padding: 5px;
}

.contain-update form button:hover{
    cursor: pointer;
    background-color: #003273;
    color: white;
}


/* style page ajout tableau */

.form-absolute{
    position: fixed;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.form-absolute form{
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.form-absolute form h3{
    text-align: center;
    margin-top: 15px;
    margin-bottom:30px ;
}
.form-absolute form p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.form-absolute form button{
    position: absolute;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}

.active-form{
    display: block;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#333333d3 ;
    
}

.close{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 10px;
    cursor: pointer;

}

.close:before{
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    border-radius: 5px;
    top: 45%;
    left: 10%;
}
.close:after{
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    transform: rotate(-45deg);
    position: absolute;
    top: 45%;
    left: 10%;
}


.contain-box-filtre button{
    position: absolute;
    top: 40%;
    background-color: transparent;
    border: 1px solid #C583C8;
    border-radius: 5px;
    padding: 10px;
    transition: all .7s;

}

.contain-box-filtre button:hover{
    cursor: pointer;
    background-color: #C583C8;
    color: white;
    transition: all .7s;

}


.box-filtre select{
    border: 1px solid #C583C8;
    padding: 10px;
    border-radius: 5px;
    margin-top: 15px;
}






@media screen and (max-width: 520px){
   .title-bienvenue{
        font-size: 2em;
   } 

   .title-site h1{
        font-size: 1.4em;
        margin-top: 35px;
   }

   .title-site:after{
        content: none;
   }

   header{
        border: none;
        height: 10vh;
   }
   .burger{
        position: absolute;
        left: -40%;
        top: 0;
	    display: block;
	    width: 100%;
	    height: 100%;
	    border: none;
        transition: all 1s;
        z-index: 50;
    }
    .burger-click{
        position: absolute;
        left: 40%;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        transition: all 1s;
        background-color: transparent;
        z-index: 50;
	
    }

    .burger span{
        position: fixed;
        display: block;
        height: 4px;
        width: 40px;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        background: #C583C8;
        transform: translate(-50%,-50%);
        border-radius: 5px;
    }

    .burger-click span{
        display: block;
        height: 4px;
        width: 40px;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        background: black;
        transform: translate(-50%,-50%);
    }
    .burger-click span{
        background-color: transparent;
    }

    .burger:hover{
        cursor: pointer;

    }

    .burger-click:hover{
        cursor: pointer;

    }

    .burger span:before{
        transform: translate(0,200%);
    }

    .burger span:after{
        transform: translate(0,-200%);
    }

    .burger:hover
    span:after{
        transform: translate(0,-400%);
    }
    .burger:hover
    span:before{
        transform: translate(0,400%);
    }




    .burger span:after,
    .burger span:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: #C583C8;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.8s ease;
    }

    .burger-click span:after,
    .burger-click span:before{
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: #C583C8;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.8s ease;
    }

    .burger-click span:before{
        transform: translate(0,0) rotate(45deg);
    }
    .burger-click span:after{
        transform: translate(0,0) rotate(-45deg);
    }

    .navig{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: white;
        z-index: 10;
        left: -100%;
        top: 0;
        transition: all .95 s;
    }

    .active-nav{
        top: 0;
        left: 0;
        transition: all .95s;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav ul{
        display: block;
        width: 70%;
        height: 80%;
        margin: auto;
    }

    nav li{
        text-align: left;
        margin-top: 25px;
        font-size: 1.3em;

    }


    .contain-tableau h1{
        font-size: 1em;
    }

    .filtre{
        width: 90%;
        margin-right: auto;
    }


    .behind:after{
        content: none;
    }

    .activate{
        height: 250px;
    }

    .contain-box-filtre button{
        position: relative;
        margin-top: 20px;
    }

    .box-admin{
        position: absolute;
        top: 400%;
        left: -100%;
        transition: all 1s;
    }

    .box-admin-visible{
        position: absolute;
        transition: all 1s;
        top: 400%;
        left: 15%;
        z-index: 120;
    }

    .box-admin-visible .username p{
        font-size: 1.3em;
        text-transform: capitalize;
    }

    .box-admin-visible .lien-gestion{
        display: block;
        z-index: 120;
        border: none;
    }
    .username{
        width: auto;
    }

    .form-affich{
        width: auto;
        font-size: 0.7em;
        
    }
    .form-affich p{
        margin-left: 10px;
    }

    .tableau-admin .form-affich a{
        margin-right: 60px;
    }

    .admin-liste{
        padding-top: 10vh;
    }

    .commentaire{
        width: 80%;
    }

    .contain-commentaire {
        width: 100%;
    }

    .contain-detail form {
        width: 80%;
    }

    .detail-texte{
        width: 80%;
        margin: auto;
    }

    .detail-image{
        width: 100%;
    }


    .barre-a:after{
        content: none;
    }

    .barre-a:before{
        content: none;
    }

    .tableau{
        margin: auto;
    }

    .corps{
        width: auto;
    }



}